<h1>Contacts List</h1>
<ul>
  @foreach (var contact in Model)
  {
    <li><a href='/@contact.GetId()'>@contact.GetName()</a></li>
  }
</ul>
<a href='/contacts/new'>Add new contact</a>
<br>
<br>
<form action='/contacts/clear' method='post'>
  <button type='submit'>Clear contacts</button>
</form>
